* {
    margin: 0;
    padding: 0;
    border: 0;
}

.page {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1.7fr;
    grid-template-rows: 0.5fr 0.3fr 2.4fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav"
        "form"
        "main"
        "footer";
}

@media (min-width: 576px) {
    .page {
        display: grid;
        grid-template-columns: 0.4fr 2.4fr;
        grid-template-rows: 0.3fr 1.7fr 0.3fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "nav form"
          "nav main"
          "footer main";
    }
}

nav {
    grid-area: nav;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #C5CDC2;
    width: 100%;
    & span {
        display: flex;
        height: 6vh;
        margin: auto 1vh;
        & i {
            font-size: 5vh;
            margin: auto 1vh;
        }
        & h1 {
            margin: auto 0;
            font-size: 3vh;
            font-family: "Lucida Handwriting", cursive;
        }
    }
    & menu {
        & .mobile-menu {
            display: flex;
            height: 100%;
            & button {
                display: flex;
                margin: auto 4vh;
                font-size: 4.5vh;
                background-color: #C5CDC2;
            }
        }
        & .desktop-menu {
            display: none;
            color: #222618;
        }
    }
}

@media (min-width: 576px) {
    nav {
        flex-direction: column;
        height: 100%;
        justify-content: start;
        width: 100%;
        & span {
            border-bottom: solid 2px #222618;
            margin: 3.5vh 6vh 4.7vh 1.7vh;
            width: 90%;
            height: 12vh;
            justify-content: center;
            & i {
                font-size: 6vh;
                margin: auto 0 auto 2.5vh;
            }
            & h1 {
                font-size: 4vh;
                text-align: center;
            }
        }
        & menu {
            width: 100%;
            & .mobile-menu {
                display: none;
            }
            & .desktop-menu {
                display: flex;
                flex-direction: column;
                margin: auto 0;
                height: 100%;
                width: 70%;
                & a {
                    display: flex;
                    font-size: 3vh;
                    margin: 4vh 0 1.5vh 2vh;
                    font-family: Courier, monospace;
                    font-weight: 600;
                    text-decoration: none;
                    border: none;
                    background-color: #C5CDC2;
                    color: #222618;
                }
            }
        }
    }
}

form {
    grid-area: form;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #BB8755;
    & h4 {
        margin: 1vh auto;
        font-size: 3vh;
        font-family: Courier, monospace;
    }
    & select {
        display: flex;
        margin: 0 auto 1vh auto;
        font-family: Courier, monospace;
        font-size: 2vh;
        font-weight: 600;
        width: 38%;
        border-radius: 50px;
        text-align: center;
        & option {
            font-size: 1.5vh;
        }
    }
    @media  (min-width: 576px) {
        & h4 {
            font-size: 5.5vh;
        }
        & select {
            font-size: 2.5vh;
            width: 24vh;
        }
    }
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #765438;
    width: 100%;
    height: 100%;
    & .mobile-gallery {
        border: solid 1.3vh #C5CDC2;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 38vh;
        height: 38vh;
        overflow-y: scroll;
        position: relative;
        & .flecha {
            display: flex;
            margin: 0 auto;
            position: absolute;
            padding: 10%;
            width: 80%;
            height: 80%;
            transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        }
        .flecha:hover {
            transform: translateY(20px);
            opacity: 0;
        }
        & .designs {
            width: 100%;
            height: 100%;
        }
    }
    & .desktop-gallery {
        display: none;
        flex-wrap: wrap;
        height: 90%;
        width: 90%;
        margin: auto;
        overflow-y: scroll;
        position: relative;
        & .designs {
            margin: 4vh auto;
            display: flex;
            width: 30%;
            height: auto;
            transition: transform 0.4s ease-in-out;
        }
        @media (min-height: 604px) {
            & .designs {
                width: 45%;
            }
        }
        & .designs:hover {
            transform: scale(.95) rotate(10deg);
        }
    }

    @media (min-width: 576px) {
        & .mobile-gallery {
            display: none;
        }
        & .desktop-gallery {
            display: flex;
        }
    }

    & .displace {
        display: flex;
        justify-content: center;
        background-color: #C5CDC2;
        height: 9vh;
        font-size: 4vh;
        width: 100%;
        & p {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: auto 1vh;
            text-align: center;
            height: 4.5vh;
            width: 4vh;
            border: solid .5vh #222618;
        }
        & i {
            font-size: 4vh;
            margin: auto 1vh;
        }
    }
    @media (min-width: 576px) {
        & .displace {
            height: 15%;
            font-size: 4vh;
            margin-top: 2vh;
            & p {
                margin: auto .5vh;
                height: 5vh;
                width: 5vh;
            }
            & i {
                font-size: 5vh;
            }
        }
    }
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: #222618;
    width: 100%;
    height: 100%;
    & .social {
        display: flex;
        width: 100%;
        margin: 1vh auto 0 auto;
        justify-content: center;
        & a {
            font-size: 5vh;
            color: #C5CDC2;
            margin: auto 1vh;
        }
    }
    & p {
        display: flex;
        width: 100%;
        height: 100%;
        margin: .9vh auto 2.2vh auto;
        justify-content: center;
        font-size: 3.2vh;
        color: #C5CDC2;
    }

    @media (min-width: 576px) {
        & .social {
            margin: 1vh auto;
            & a {
                font-size: 4.4vh;
            }
        }
        & p {
            text-align: center;
            width: 90%;
            margin: .5vh auto 1vh auto;
            font-size: 2.4vh;
        }
    }
}

